Repository hashed-io/hashed-substrate, pull requests merged in 2022-11, with the labels that each got.

#230 Feature/proxy financial/update rbac
  pallets/proxy-financial/src/functions.rs
  pallets/proxy-financial/src/lib.rs
  pallets/proxy-financial/src/mock.rs
  pallets/proxy-financial/src/types.rs
  runtime/src/lib.rs
Labels: PR, proxy

#243 Fruniques and marketplace changes
  Cargo.lock
  Cargo.toml
  pallets/afloat/Cargo.toml
  pallets/afloat/README.md
  pallets/afloat/src/functions.rs
  pallets/afloat/src/lib.rs
  pallets/afloat/src/mock.rs
  pallets/afloat/src/tests.rs
  pallets/afloat/src/types.rs
  pallets/fruniques/src/functions.rs
  pallets/fruniques/src/lib.rs
  pallets/fruniques/src/mock.rs
  pallets/fruniques/src/tests.rs
  pallets/fruniques/src/types.rs
  parachain-runtime/Cargo.toml
  parachain-runtime/src/lib.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Labels: fruniques, marketplace

#246 Release 123
  Cargo.lock
  Cargo.toml
  pallets/afloat/Cargo.toml
  pallets/afloat/README.md
  pallets/afloat/src/functions.rs
  pallets/afloat/src/lib.rs
  pallets/afloat/src/mock.rs
  pallets/afloat/src/tests.rs
  pallets/afloat/src/types.rs
  pallets/fruniques/src/functions.rs
  pallets/fruniques/src/lib.rs
  pallets/fruniques/src/mock.rs
  pallets/fruniques/src/tests.rs
  pallets/fruniques/src/types.rs
  parachain-runtime/Cargo.toml
  parachain-runtime/src/lib.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Labels: fruniques, marketplace

#247 Release 124
  Cargo.lock
  Cargo.toml
  pallets/gated-marketplace/Cargo.toml
  pallets/gated-marketplace/README.md
  pallets/gated-marketplace/src/functions.rs
  pallets/gated-marketplace/src/lib.rs
  pallets/gated-marketplace/src/mock.rs
  pallets/gated-marketplace/src/tests.rs
  pallets/gated-marketplace/src/types.rs
  parachain-runtime/Cargo.toml
  parachain-runtime/src/lib.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Labels: marketplace

#250 Feature/proxy financial/update rbac
  Cargo.lock
  pallets/fund-admin/Cargo.toml
  pallets/fund-admin/README.md
  pallets/fund-admin/src/benchmarking.rs
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/mock.rs
  pallets/fund-admin/src/tests.rs
  pallets/fund-admin/src/types.rs
  pallets/proxy-financial/src/tests.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Labels: PR, proxy

#253 Feature/proxy financial/update rbac
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/mock.rs
  pallets/fund-admin/src/tests.rs
  pallets/fund-admin/src/types.rs
  runtime/src/lib.rs
Labels: PR, proxy

#257 Feature/proxy financial/update rbac
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
Labels: PR, proxy

#266 Update types and several fixes
  .gitignore
  .vscode/tasks.json
  lcov.info
  pallets/fruniques/Cargo.toml
  pallets/fruniques/src/functions.rs
  pallets/fruniques/src/lib.rs
  pallets/fruniques/src/mock.rs
  pallets/fruniques/src/tests.rs
  pallets/fruniques/src/types.rs
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/tests.rs
  pallets/fund-admin/src/types.rs
  pallets/gated-marketplace/src/functions.rs
  pallets/gated-marketplace/src/lib.rs
  pallets/gated-marketplace/src/mock.rs
  pallets/gated-marketplace/src/tests.rs
  pallets/rbac/src/functions.rs
  parachain-runtime/src/lib.rs
  runtime/src/lib.rs
Labels: proxy

#267 Release 128
  .gitignore
  .vscode/tasks.json
  pallets/fruniques/Cargo.toml
  pallets/fruniques/src/functions.rs
  pallets/fruniques/src/lib.rs
  pallets/fruniques/src/mock.rs
  pallets/fruniques/src/tests.rs
  pallets/fruniques/src/types.rs
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/tests.rs
  pallets/fund-admin/src/types.rs
  pallets/gated-marketplace/src/functions.rs
  pallets/gated-marketplace/src/lib.rs
  pallets/gated-marketplace/src/mock.rs
  pallets/gated-marketplace/src/tests.rs
  pallets/rbac/src/functions.rs
  parachain-runtime/src/lib.rs
  runtime/src/lib.rs
Labels: fruniques, proxy
