Repository hashed-io/hashed-substrate, pull requests merged in 2022-12, with the labels that each got.

#280 Feature/proxy financial/update validations
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/mock.rs
  pallets/fund-admin/src/types.rs
  runtime/src/lib.rs
Labels: PR, fund admin

#287 Add missing storage maps to kill storage extrinsic
  pallets/gated-marketplace/src/lib.rs
Labels: marketplace

#290 Feature/fund admin/revenues
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/mock.rs
  pallets/fund-admin/src/types.rs
  runtime/src/lib.rs
Labels: PR, fund admin

#299 Feature/fund admin/bank documents
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/mock.rs
  pallets/fund-admin/src/types.rs
  pallets/gated-marketplace/README.md
  pallets/gated-marketplace/src/functions.rs
  runtime/src/lib.rs
Labels: PR, fund admin

#304 Remove a rigorous validation during a drawdown approval
  pallets/fund-admin/src/functions.rs
Labels: enhancement, PR

#302 Fund Admin pallet: Update permissions
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/mock.rs
  pallets/fund-admin/src/tests.rs
  pallets/fund-admin/src/types.rs
  pallets/gated-marketplace/src/functions.rs
  runtime/src/lib.rs
Labels: PR, fund admin

#308 Remove a validation while rejecting a drawdown
  pallets/fund-admin/src/functions.rs
Labels: enhancement, fund admin

#312 Enhacements
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/mock.rs
  pallets/fund-admin/src/types.rs
  runtime/src/lib.rs
Labels: PR, fund admin

#314 Feature/fund admin/cancel drawdown
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/types.rs
Labels: PR, fund admin

#316 Release 137
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/mock.rs
  pallets/fund-admin/src/types.rs
  runtime/src/lib.rs
Labels: PR, fund admin

#318 Fix some validations on revenues flow
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  runtime/src/lib.rs
Labels: PR, fund admin

#319 Release 139
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  runtime/src/lib.rs
Labels: PR
