Repository hashed-io/hashed-substrate, pull requests merged in 2023-01, with the labels that each got.

#321 Update the maximum number of users
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/mock.rs
  runtime/src/lib.rs
Labels: enhancement, fund admin

#322 Release 140
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/mock.rs
  runtime/src/lib.rs
Labels: enhancement, PR, fund admin

#335 Feature/fund admin/update documentation
  pallets/fund-admin/README.md
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/gated-marketplace/README.md
Labels: documentation, PR, fund admin

#332 Add option to invite creators to a collection
  pallets/bitcoin-vaults/src/mock.rs
  pallets/bitcoin-vaults/src/tests.rs
  pallets/fruniques/src/functions.rs
  pallets/fruniques/src/lib.rs
  pallets/fruniques/src/mock.rs
  pallets/fruniques/src/tests.rs
  pallets/fruniques/src/types.rs
  pallets/gated-marketplace/src/functions.rs
  pallets/gated-marketplace/src/lib.rs
  pallets/gated-marketplace/src/mock.rs
  pallets/gated-marketplace/src/tests.rs
  pallets/gated-marketplace/src/types.rs
  parachain-runtime/src/lib.rs
  runtime/src/lib.rs
Labels: fruniques, marketplace

#341 Tests/fund admin/projects
  pallets/fund-admin/README.md
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/mock.rs
  pallets/fund-admin/src/tests.rs
  pallets/fund-admin/src/types.rs
  runtime/src/lib.rs
Labels: PR, fund admin

#349 Tests/fund admin/expednitures
  pallets/fund-admin/README.md
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/tests.rs
Labels: PR, fund admin, testing

#350 Feature/fund admin/token distribution
  Cargo.lock
  pallets/fund-admin/Cargo.toml
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/mock.rs
  pallets/fund-admin/src/tests.rs
  runtime/src/lib.rs
Labels: documentation, enhancement, PR, fund admin

#351 Release 142
  Cargo.lock
  pallets/fund-admin/Cargo.toml
  pallets/fund-admin/README.md
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/mock.rs
  pallets/fund-admin/src/tests.rs
  runtime/src/lib.rs
Labels: PR

#354 M4 redemption flow
  pallets/fruniques/src/functions.rs
  pallets/fruniques/src/lib.rs
  pallets/fruniques/src/types.rs
  pallets/gated-marketplace/src/functions.rs
  pallets/gated-marketplace/src/lib.rs
  pallets/gated-marketplace/src/types.rs
Labels: fruniques, marketplace

#353 Add tests for drawdowns & revenues
  pallets/fund-admin/README.md
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/tests.rs
  pallets/fund-admin/src/types.rs
Labels: PR, fund admin, testing

#355 Release 143
  pallets/fruniques/src/functions.rs
  pallets/fruniques/src/lib.rs
  pallets/fruniques/src/types.rs
  pallets/fund-admin/README.md
  pallets/fund-admin/src/functions.rs
  pallets/fund-admin/src/lib.rs
  pallets/fund-admin/src/tests.rs
  pallets/fund-admin/src/types.rs
  pallets/gated-marketplace/src/functions.rs
  pallets/gated-marketplace/src/lib.rs
  pallets/gated-marketplace/src/types.rs
  runtime/src/lib.rs
Labels: PR
